# Exploratory Data Analisys
## Он же - Разведочный Анализ Данных
Предназначен для предварительного знакомства с данными. Включает в себя достаточно много позиций, но самое главное/базовое:
1) Знакомство - определение размерности данных, количества записей и фичей

2) Расчёт базовых описательных статистик - среднее, дисперсия, СКО и т. д.

3) Визуализация данных

4) Поиск закономерностей и зависимостей

5) Выбор соответствующих моделей на основе пп. 1) - 4)

#### Пайплайн работы с данными:
1) Выгрузка данных или сбор данных из источников

2) EDA: визуализация, нахождение пропущенных значений, поиск корреляций/закономерностей

3) Очистка данных: предвосхитить потенциальные проблемы

4) Построение модели: визуализация, диагностика модели, проверка гетероскедастичности, построение ROC кривых, и т. д. и т. п. 

5) Представление результатов работы: графики, таблички, визаулизации, навести красоту

В качестве тестового датасета разбору подвергнется https://www.kaggle.com/toramky/automobile-dataset - машинки, еее!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

print("Imports Done!")

Imports Done!

In [2]:
PATH = "~/Downloads/automobile_dataset/"
cars_dataset_origin = pd.read_csv(PATH + "Automobile_data.csv")
cars_dataset_origin.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [40]:
cars_dataset_origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [5]:
cars_dataset_origin["normalized-losses"].unique()

array(['?', '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

In [6]:
cars_dataset_origin["num-of-cylinders"].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [7]:
cars_dataset_origin["bore"].unique()

array(['3.47', '2.68', '3.19', '3.13', '3.5', '3.31', '3.62', '2.91',
       '3.03', '2.97', '3.34', '3.6', '2.92', '3.15', '3.43', '3.63',
       '3.54', '3.08', '?', '3.39', '3.76', '3.58', '3.46', '3.8', '3.78',
       '3.17', '3.35', '3.59', '2.99', '3.33', '3.7', '3.61', '3.94',
       '3.74', '2.54', '3.05', '3.27', '3.24', '3.01'], dtype=object)

In [8]:
cars_dataset_origin["stroke"].unique()

array(['2.68', '3.47', '3.4', '2.8', '3.19', '3.39', '3.03', '3.11',
       '3.23', '3.46', '3.9', '3.41', '3.07', '3.58', '4.17', '2.76',
       '3.15', '?', '3.16', '3.64', '3.1', '3.35', '3.12', '3.86', '3.29',
       '3.27', '3.52', '2.19', '3.21', '2.9', '2.07', '2.36', '2.64',
       '3.08', '3.5', '3.54', '2.87'], dtype=object)

In [9]:
cars_dataset_origin.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [10]:
cars_dataset_origin.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [11]:
df = cars_dataset_origin.copy()
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [12]:
df = df.replace({"?" : np.nan})
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [13]:
for column in df.columns:
    print('+++++++++++\nCOLUMN_NAME = {} \nVALUES = {}\nTYPE = {}\n-----------'.format(column, 
                                                                                   df[column].unique(), 
                                                                                   df[column].dtype))

+++++++++++
COLUMN_NAME = symboling
VALUES = [ 3  1  2  0 -1 -2]
TYPE = int64
-----------
+++++++++++
COLUMN_NAME = normalized-losses
VALUES = [nan '164' '158' '192' '188' '121' '98' '81' '118' '148' '110' '145' '137'
 '101' '78' '106' '85' '107' '104' '113' '150' '129' '115' '93' '142'
 '161' '153' '125' '128' '122' '103' '168' '108' '194' '231' '119' '154'
 '74' '186' '83' '102' '89' '87' '77' '91' '134' '65' '197' '90' '94'
 '256' '95']
TYPE = object
-----------
+++++++++++
COLUMN_NAME = make
VALUES = ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']
TYPE = object
-----------
+++++++++++
COLUMN_NAME = fuel-type
VALUES = ['gas' 'diesel']
TYPE = object
-----------
+++++++++++
COLUMN_NAME = aspiration
VALUES = ['std' 'turbo']
TYPE = object
-----------
+++++++++++
COLUMN_NAME = num-of-doors
VALUES = ['two' 'four' nan]
TYPE = object
-----------
+++++++++++
COLUMN_NAME = body-style
VALUES = ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
TYPE = object
-----------
+++++++++++
COLUMN_NAME = drive-wheels
VALUES = ['rwd' 'fwd' '4wd']
TYPE = object
-----------
+++++++++++
COLUMN_NAME = engine-location
VALUES = ['front' 'rear']
TYPE = object
-----------
+++++++++++
COLUMN_NAME = wheel-base
VALUES = [ 88.6  94.5  99.8  99.4 105.8  99.5 101.2 103.5 110.   88.4  93.7 103.3
  95.9  86.6  96.5  94.3  96.  113.  102.   93.1  95.3  98.8 104.9 106.7
 115.6  96.6 120.9 112.  102.7  93.   96.3  95.1  97.2 100.4  91.3  99.2
 107.9 114.2 108.   89.5  98.4  96.1  99.1  93.3  97.   96.9  95.7 102.4
 102.9 104.5  97.3 104.3 109.1]
TYPE = float64
-----------
+++++++++++
COLUMN_NAME = length
VALUES = [168.8 171.2 176.6 177.3 192.7 178.2 176.8 189.  193.8 197.  141.1 155.9
 158.8 157.3 174.6 173.2 144.6 150.  163.4 157.1 167.5 175.4 169.1 170.7
 172.6 199.6 191.7 159.1 166.8 169.  177.8 175.  190.9 187.5 202.6 180.3
 208.1 199.2 178.4 173.  172.4 165.3 170.2 165.6 162.4 173.4 181.7 184.6
 178.5 186.7 198.9 167.3 168.9 175.7 181.5 186.6 156.9 157.9 172.  173.5
 173.6 158.7 169.7 166.3 168.7 176.2 175.6 183.5 187.8 171.7 159.3 165.7
 180.2 183.1 188.8]
TYPE = float64
-----------
+++++++++++
COLUMN_NAME = width
VALUES = [64.1 65.5 66.2 66.4 66.3 71.4 67.9 64.8 66.9 70.9 60.3 63.6 63.8 64.6
 63.9 64.  65.2 62.5 66.  61.8 69.6 70.6 64.2 65.7 66.5 66.1 70.3 71.7
 70.5 72.  68.  64.4 65.4 68.4 68.3 65.  72.3 66.6 63.4 65.6 67.7 67.2
 68.9 68.8]
TYPE = float64
-----------
+++++++++++
COLUMN_NAME = height
VALUES = [48.8 52.4 54.3 53.1 55.7 55.9 52.  53.7 56.3 53.2 50.8 50.6 59.8 50.2
 52.6 54.5 58.3 53.3 54.1 51.  53.5 51.4 52.8 47.8 49.6 55.5 54.4 56.5
 58.7 54.9 56.7 55.4 54.8 49.4 51.6 54.7 55.1 56.1 49.7 56.  50.5 55.2
 52.5 53.  59.1 53.9 55.6 56.2 57.5]
TYPE = float64
-----------
+++++++++++
COLUMN_NAME = curb-weight
VALUES = [2548 2823 2337 2824 2507 2844 2954 3086 3053 2395 2710 2765 3055 3230
 3380 3505 1488 1874 1909 1876 2128 1967 1989 2191 2535 2811 1713 1819
 1837 1940 1956 2010 2024 2236 2289 2304 2372 2465 2293 2734 4066 3950
 1890 1900 1905 1945 1950 2380 2385 2500 2410 2443 2425 2670 2700 3515
 3750 3495 3770 3740 3685 3900 3715 2910 1918 1944 2004 2145 2370 2328
 2833 2921 2926 2365 2405 2403 1889 2017 1938 1951 2028 1971 2037 2008
 2324 2302 3095 3296 3060 3071 3139 3020 3197 3430 3075 3252 3285 3485
 3130 2818 2778 2756 2800 3366 2579 2460 2658 2695 2707 2758 2808 2847
 2050 2120 2240 2190 2340 2510 2290 2455 2420 2650 1985 2040 2015 2280
 3110 2081 2109 2275 2094 2122 2140 2169 2204 2265 2300 2540 2536 2551
 2679 2714 2975 2326 2480 2414 2458 2976 3016 3131 3151 2261 2209 2264
 2212 2319 2254 2221 2661 2563 2912 3034 2935 3042 3045 3157 2952 3049
 3012 3217 3062]
TYPE = int64
-----------
+++++++++++
COLUMN_NAME = engine-type
VALUES = ['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
TYPE = object
-----------
+++++++++++
COLUMN_NAME = num-of-cylinders
VALUES = ['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
TYPE = object
-----------
+++++++++++
COLUMN_NAME = engine-size
VALUES = [130 152 109 136 131 108 164 209  61  90  98 122 156  92  79 110 111 119
 258 326  91  70  80 140 134 183 234 308 304  97 103 120 181 151 194 203
 132 121 146 171 161 141 173 145]
TYPE = int64
-----------
+++++++++++
COLUMN_NAME = fuel-system
VALUES = ['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']
TYPE = object
-----------
+++++++++++
COLUMN_NAME = bore
VALUES = ['3.47' '2.68' '3.19' '3.13' '3.5' '3.31' '3.62' '2.91' '3.03' '2.97'
 '3.34' '3.6' '2.92' '3.15' '3.43' '3.63' '3.54' '3.08' nan '3.39' '3.76'
 '3.58' '3.46' '3.8' '3.78' '3.17' '3.35' '3.59' '2.99' '3.33' '3.7'
 '3.61' '3.94' '3.74' '2.54' '3.05' '3.27' '3.24' '3.01']
TYPE = object
-----------
+++++++++++
COLUMN_NAME = stroke
VALUES = ['2.68' '3.47' '3.4' '2.8' '3.19' '3.39' '3.03' '3.11' '3.23' '3.46' '3.9'
 '3.41' '3.07' '3.58' '4.17' '2.76' '3.15' nan '3.16' '3.64' '3.1' '3.35'
 '3.12' '3.86' '3.29' '3.27' '3.52' '2.19' '3.21' '2.9' '2.07' '2.36'
 '2.64' '3.08' '3.5' '3.54' '2.87']
TYPE = object
-----------
+++++++++++
COLUMN_NAME = compression-ratio
VALUES = [ 9.   10.    8.    8.5   8.3   7.    8.8   9.5   9.6   9.41  9.4   7.6
  9.2  10.1   9.1   8.1  11.5   8.6  22.7  22.   21.5   7.5  21.9   7.8
  8.4  21.    8.7   9.31  9.3   7.7  22.5  23.  ]
TYPE = float64
-----------
+++++++++++
COLUMN_NAME = horsepower
VALUES = ['111' '154' '102' '115' '110' '140' '160' '101' '121' '182' '48' '70'
 '68' '88' '145' '58' '76' '60' '86' '100' '78' '90' '176' '262' '135'
 '84' '64' '120' '72' '123' '155' '184' '175' '116' '69' '55' '97' '152'
 '200' '95' '142' '143' '207' '288' nan '73' '82' '94' '62' '56' '112'
 '92' '161' '156' '52' '85' '114' '162' '134' '106']
TYPE = object
-----------
+++++++++++
COLUMN_NAME = peak-rpm
VALUES = ['5000' '5500' '5800' '4250' '5400' '5100' '4800' '6000' '4750' '4650'
 '4200' '4350' '4500' '5200' '4150' '5600' '5900' '5750' nan '5250' '4900'
 '4400' '6600' '5300']
TYPE = object
-----------
+++++++++++
COLUMN_NAME = city-mpg
VALUES = [21 19 24 18 17 16 23 20 15 47 38 37 31 49 30 27 25 13 26 36 22 14 45 28
 32 35 34 29 33]
TYPE = int64
-----------
+++++++++++
COLUMN_NAME = highway-mpg
VALUES = [27 26 30 22 25 20 29 28 53 43 41 38 24 54 42 34 33 31 19 17 23 32 39 18
 16 37 50 36 47 46]
TYPE = int64
-----------
+++++++++++
COLUMN_NAME = price
VALUES = ['13495' '16500' '13950' '17450' '15250' '17710' '18920' '23875' nan
 '16430' '16925' '20970' '21105' '24565' '30760' '41315' '36880' '5151'
 '6295' '6575' '5572' '6377' '7957' '6229' '6692' '7609' '8558' '8921'
 '12964' '6479' '6855' '5399' '6529' '7129' '7295' '7895' '9095' '8845'
 '10295' '12945' '10345' '6785' '11048' '32250' '35550' '36000' '5195'
 '6095' '6795' '6695' '7395' '10945' '11845' '13645' '15645' '8495'
 '10595' '10245' '10795' '11245' '18280' '18344' '25552' '28248' '28176'
 '31600' '34184' '35056' '40960' '45400' '16503' '5389' '6189' '6669'
 '7689' '9959' '8499' '12629' '14869' '14489' '6989' '8189' '9279' '5499'
 '7099' '6649' '6849' '7349' '7299' '7799' '7499' '7999' '8249' '8949'
 '9549' '13499' '14399' '17199' '19699' '18399' '11900' '13200' '12440'
 '13860' '15580' '16900' '16695' '17075' '16630' '17950' '18150' '12764'
 '22018' '32528' '34028' '37028' '9295' '9895' '11850' '12170' '15040'
 '15510' '18620' '5118' '7053' '7603' '7126' '7775' '9960' '9233' '11259'
 '7463' '10198' '8013' '11694' '5348' '6338' '6488' '6918' '7898' '8778'
 '6938' '7198' '7788' '7738' '8358' '9258' '8058' '8238' '9298' '9538'
 '8449' '9639' '9989' '11199' '11549' '17669' '8948' '10698' '9988'
 '10898' '11248' '16558' '15998' '15690' '15750' '7975' '7995' '8195'
 '9495' '9995' '11595' '9980' '13295' '13845' '12290' '12940' '13415'
 '15985' '16515' '18420' '18950' '16845' '19045' '21485' '22470' '22625']
TYPE = object
-----------

In [14]:
df = df.astype({"normalized-losses": float, "bore": float, "stroke": float, "horsepower": float,
                "peak-rpm": float, "price": float})
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [15]:
df.isna().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

### Теперь можно заняться заполнением пропущенных значений.
Стратегий замены достаточно много.
Можно сделать простую замену пропущенных значений на среднее, медиану или моду.

Можно использовать деревья решений для предсказания пропущенных значений. Так как датасет небольшой, то для заполнения пропущенных значений можно использовать метод kNN. 

Попробуем два подхода: простой - медиана, сложный - kNN.

In [16]:
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer

In [21]:
# Столбцы с пропущенными значениями и имеющие численный тип
# df[["normalized-losses", "bore", "stroke", "horsepower", "peak-rpm", "price"]]
# df.select_dtypes(include=['float64', 'int64'])
tmp = df[["normalized-losses", "bore", "stroke", "horsepower", "peak-rpm", "price"]]

In [ ]:
# imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
# imputer.fit(df[["normalized-losses", "bore", "stroke", "horsepower", "peak-rpm", "price"]])
# df[["normalized-losses", "bore", "stroke", "horsepower", "peak-rpm", "price"]] = imputer.fit_transform(df[["normalized-losses", "bore", "stroke", "horsepower", "peak-rpm", "price"]])

In [26]:
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
df[["normalized-losses", "bore", "stroke", "horsepower", "peak-rpm", "price"]] = imputer.fit_transform(tmp)

In [27]:
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,115.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,115.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,115.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [28]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         2
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [29]:
imputer = KNNImputer(n_neighbors=5)
df[["normalized-losses", "bore", "stroke", "horsepower", "peak-rpm", "price"]] = imputer.fit_transform(tmp)

In [30]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,123.8,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,144.8,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,144.8,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [ ]:
# df.apply(lambda x: pd.factorize(x)[0])

In [41]:
df.describe()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,122.148293,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.331317,3.256049,10.142537,104.608780,5130.195122,25.219512,30.751220,13251.987317
std,1.245307,32.441668,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.271339,0.313696,3.972040,39.679368,479.586179,6.542142,6.886443,7913.608772
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,98.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,1.000000,118.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10595.000000
75%,2.000000,144.800000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,120.000000,5500.000000,30.000000,34.000000,16500.000000
max,3.000000,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [42]:
df.corr()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
symboling,1.000000,0.465354,-0.531954,-0.357612,-0.232919,-0.541038,-0.227691,-0.105790,-0.119759,-0.005199,-0.178515,0.072369,0.271733,-0.035823,0.034606,-0.081036
normalized-losses,0.465354,1.000000,-0.033544,0.038507,0.098272,-0.353658,0.116502,0.092830,-0.010332,0.063871,-0.095318,0.201637,0.205069,-0.233877,-0.192917,0.106514
wheel-base,-0.531954,-0.033544,1.000000,0.874587,0.795144,0.589435,0.776386,0.569329,0.484539,0.159742,0.249786,0.346597,-0.363204,-0.470414,-0.544082,0.581618
length,-0.357612,0.038507,0.874587,1.000000,0.841118,0.491029,0.877728,0.683360,0.602980,0.128660,0.158414,0.555870,-0.280861,-0.670909,-0.704662,0.684692
width,-0.232919,0.098272,0.795144,0.841118,1.000000,0.279210,0.867032,0.735433,0.557568,0.182687,0.181129,0.642279,-0.215689,-0.642704,-0.677218,0.749915
height,-0.541038,-0.353658,0.589435,0.491029,0.279210,1.000000,0.295572,0.067149,0.160999,-0.058718,0.261214,-0.112985,-0.320317,-0.048640,-0.107358,0.125290
curb-weight,-0.227691,0.116502,0.776386,0.877728,0.867032,0.295572,1.000000,0.850594,0.646140,0.167953,0.151362,0.747307,-0.265279,-0.757414,-0.797465,0.832115
engine-size,-0.105790,0.092830,0.569329,0.683360,0.735433,0.067149,0.850594,1.000000,0.575615,0.200180,0.028971,0.808532,-0.242033,-0.653658,-0.677470,0.872351
bore,-0.119759,-0.010332,0.484539,0.602980,0.557568,0.160999,0.646140,0.575615,1.000000,-0.056079,0.004107,0.579008,-0.237542,-0.591241,-0.592446,0.547308
stroke,-0.005199,0.063871,0.159742,0.128660,0.182687,-0.058718,0.167953,0.200180,-0.056079,1.000000,0.185672,0.105653,-0.042047,-0.044614,-0.046204,0.079705
compression-ratio,-0.178515,-0.095318,0.249786,0.158414,0.181129,0.261214,0.151362,0.028971,0.004107,0.185672,1.000000,-0.208153,-0.437238,0.324701,0.265201,0.069549
horsepower,0.072369,0.201637,0.346597,0.555870,0.642279,-0.112985,0.747307,0.808532,0.579008,0.105653,-0.208153,1.000000,0.138831,-0.802950,-0.767469,0.783514
peak-rpm,0.271733,0.205069,-0.363204,-0.280861,-0.215689,-0.320317,-0.265279,-0.242033,-0.237542,-0.042047,-0.437238,0.138831,1.000000,-0.116535,-0.053596,-0.095795
city-mpg,-0.035823,-0.233877,-0.470414,-0.670909,-0.642704,-0.048640,-0.757414,-0.653658,-0.591241,-0.044614,0.324701,-0.802950,-0.116535,1.000000,0.971337,-0.680078
highway-mpg,0.034606,-0.192917,-0.544082,-0.704662,-0.677218,-0.107358,-0.797465,-0.677470,-0.592446,-0.046204,0.265201,-0.767469,-0.053596,0.971337,1.000000,-0.696304
price,-0.081036,0.106514,0.581618,0.684692,0.749915,0.125290,0.832115,0.872351,0.547308,0.079705,0.069549,0.783514,-0.095795,-0.680078,-0.696304,1.000000

In [44]:
# sns.heatmap(df.corr(), annot=True, fmt='.2f')
# Так делать не надо!